.button {
    border: 1px solid #FFFFFF;
    font-weight: bold;
    font-size: 14px;
    width: 120px;
    height: 30px;
    border-radius: 3px;
    background-color: Transparent;
    color: #FFFFFF;
    margin-top: 20px;
}