.inform {
    max-height: 520px;
    text-align: center;
    margin: 0 auto;
    padding: 80px 0 100px 0;
    &__header {
        font-size: 24px;
    }
    &__desc {
        width: 590px;
        margin: 0 auto;
        margin-top: 40px;
    }
}

