.promo {
    background: url('../../img/header-bg.png') center (center/cover) no-repeat;
    max-height: 640px;
    padding: 30px 0 200px 0;
    &__desc {
        text-align: center;
    }
    &__header {
        font-weight: 700;
        font-size: 40px;
        color: #FFFFFF;
        margin-top: 110px;
        &__coffee {
            margin-top: 60px;
            text-align: center;
        }
    }
    &__subheader {
        margin-top: 35px;
        font-weight: bold;
        font-size: 24px;
        color: #FFFFFF;
    }
    &__que {
        margin-top: 20px;
        font-weight: bold;
        font-size: 24px;
        color: #FFFFFF;
    }
}