@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?tjy24j');
  src:  url('../fonts/icomoon.eot?tjy24j#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?tjy24j') format('truetype'),
    url('../fonts/icomoon.woff?tjy24j') format('woff'),
    url('../fonts/icomoon.svg?tjy24j#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-coffee-nav:before {
  content: "\e900";
  /* color: #fff; */
  font-size: 40px;
}
.icon-coffe-header::before {
  content: "\e901";
  /* color: #fff; */
  font-size: 40px;
}
